.element__delete {
    width: 18px;
    height: 19px;
    background-image: url("../../../images/Group.svg");
    position: absolute;
    top: 20px;
    right: 20px;
    background-color: rgba(0, 0, 0, 0);
    border: none;
    background-repeat: no-repeat;
    background-size: contain;
    z-index: 10;
}
.element__delete:hover {
    cursor: pointer;
}