.header__logo {
    width: 142px;
    height: 33px;
    padding-bottom: 45px;
    padding-top: 45px;
}
@media (min-width:320px) and (max-width: 880px) {
    .header__logo {
        padding-top: 28px;
        padding-left: 27px;
    }
}